@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --primary-color: #fff;
  --secondary-color: #76b900;
  --border-color: #fff;

  --primary-font: Lato;
  --input-font-size: 1.3rem;

  --input-back-color: #ededed;
  --valid-text-color: #3bb54a;
  --invalid-text-color: #d1403f;
  --login-font-color: #000000;
}

.login__container {
  display: flex;
  flex-direction: column;

  width: 100%;

  padding: 1rem;
}

.login__extra {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.login__forget-password {
  color: var(--border-grey);
  background-color: transparent;
  outline-color: var(--login-font-color);

  cursor: pointer;

  border: 0;
}

.login__btn {
  width: 7rem;
  height: 2.8rem;

  align-self: flex-end;

  border: 0;

  padding: 0.5rem 1rem;

  background-color: var(--secondary-color);
  color: var(--primary-color);

  font-size: 1rem;

  margin: 1rem 0;

  cursor: pointer;
}

.login__title {
  color: var(--primary-color);

  font-family: var(--primary-font);

  margin-bottom: 1.5rem;
}

.login__label-text {
  display: flex;
  align-items: center;

  color: var(--primary-color);

  font-family: var(--primary-font);
  font-size: 1.1rem;

  position: relative;
}

.login__show-password {
  position: absolute;
  top: 0;
  right: 0;

  width: fit-content;
  margin: 0;
  padding: 0;
  border: 0;

  background-color: transparent;
  color: var(--secondary-color);
  outline-color: var(--login-font-color);

  font-weight: 600;
  font-family: var(--primary-font);
  font-size: 0.8rem;

  cursor: pointer;
}

.login__container .login--common {
  font-size: var(--input-font-size);
  font-family: var(--primary-font);
  color: var(--primary-color);

  border: 0;
  background-color: var(--input-back-color);
  color: var(--login-font-color);

  padding: 0.5rem 0.5rem;

  outline-color: var(--primary-color);

  margin: 1rem 0;
  margin-top: 0.5rem;

  outline: 0px;
}

.login--common:valid {
  border: 2px solid var(--valid-text-color);

  outline-color: var(--valid-text-color);
}

.login--common:invalid {
  border: 2px solid var(--invalid-text-color);
}

.login__create-account-container {
  display: inline-flex;
  justify-content: flex-end;

  color: var(--primary-color);

  font-family: var(--primary-font);
}

.login__create-account-btn {
  text-decoration: none;

  background-color: transparent;
  color: var(--secondary-color);
  outline-color: var(--login-font-color);

  font-weight: 900;
  font-family: var(--primary-font);

  border: 0;

  padding-right: 0;

  margin-left: 0.5rem;
}

@media screen and (min-width: 768px) {
  .login__container {
    width: 70%;

    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .login__container {
    width: 50%;

    margin: 0 auto;
  }
}
