.wishlist {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1250px;
  margin: 0 auto;
  font-family: var(--primary-font);
  padding: 1rem;
  grid-gap: 1rem;
}

.wishlist .nr {
  grid-column: -1 / 1;
}

@media screen and (min-width: 1024px) {
  .wishlist {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
