.ct--pl {
  display: flex;
  flex-direction: column;
}

.pl__spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.pl {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  justify-content: center;
  padding: 1rem 0;
}

.pl__filterbtn {
  position: sticky;
  bottom: 0;
  border: 1px solid var(--border-grey);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
  background-color: var(--background-color);
  padding: 0.5rem;
  z-index: 4;
}

.pl__filterbtn__text {
  margin-left: 0.5rem;
  font-size: 1rem;
}

.pl__results {
  display: block;

  grid-column: -1 / 1;

  margin: 1rem;

  color: var(--primary-color);
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 1.3rem;
}

/* .wishlist__icon {
  color: var(--secondary-color);
  font-size: 1.5rem;
} */

@media screen and (min-width: 660px) {
  .pl {
    grid-template-columns: repeat(auto-fit, 23rem);
    gap: 1rem;
  }
}

@media screen and (min-width: 1025px) {
  .ct--pl {
    display: grid;
    grid-template-columns: 20% auto;
    grid-template-rows: auto;
    grid-template-areas:
      "header header"
      "sidebar  main";

    padding: 1rem 0;
  }

  .pl__filterbtn {
    display: none;
  }

  .pl {
    grid-area: main;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1250px) {
  .ct--pl {
    grid-template-columns: 25% auto;
  }
}
