:root {
  --toast-color: #f7412c;
  --toast-radius: 0.1rem;
  --toast-text-color: #ffffff;
  --c-pd: 1rem;
  --h-mg: 0.5rem;
  --c-mg: 0.5rem;
  --i-font-size: 1.5rem;
  --toast-text-size: 1.1rem;
  --zindex-five: 5;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.toast {
  display: flex;
  align-items: center;
  width: 100%;

  background-color: var(--toast-color);

  padding: var(--c-pd);

  font-family: var(--primary-font);

  z-index: var(--zindex-five);
}

.success_variant {
  background-color: var(--secondary-color);
}

.toast__icon {
  display: flex;
  align-items: center;

  color: var(--toast-text-color);

  font-size: var(--i-font-size);
}

.toast__message {
  margin: 0 var(--c-mg);

  padding: 0;

  width: 90%;

  color: var(--toast-text-color);
  font-size: var(--toast-text-size);
  line-height: 1rem;
}

.toast__button {
  width: fit-content;
  height: fit-content;

  cursor: pointer;

  background-color: transparent;

  border: 0;
  padding: 0;
}
