.profile {
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--primary-color);

  font-family: var(--primary-font);

  height: 70vh;
}

.profile__content {
  display: flex;
  flex-direction: column;

  border: 1px solid var(--primary-color);

  padding: 1rem;

  width: 90vw;
}

.profile__uname {
  display: flex;
  align-items: center;

  color: var(--secondary-color);

  font-size: 3rem;
}

.profile__uname__icon,
.profile__uname__text {
  display: flex;
  align-items: center;
}

.profile__uname__text {
  font-size: 2rem;

  margin-left: 1rem;
}

.profile__uname--icon {
  font-size: 4rem;
}

.pf--container {
  display: flex;
  flex-direction: column;

  margin-top: 1rem;
}

.profile__wishlist,
.profile__cart {
  display: flex;
  justify-content: space-between;

  padding: 1rem;

  text-decoration: none;

  color: var(--primary-color);

  background-color: var(--secondary-color);

  font-weight: 600;

  border: 1px solid var(--black);
}

.profile__logout {
  color: var(--primary-color);
  background-color: var(--toast-color);

  font-family: var(--primary-font);
  font-weight: 900;

  border-radius: 0.3rem;
  border: 0;

  outline-color: var(--toast-color);

  padding: 1rem;
}

@media screen and (min-width: 568px) {
  .profile__content {
    max-width: 75vw;
  }
}

@media screen and (min-width: 991px) {
  .profile__content {
    max-width: 50vw;
  }
}
