:root {
  --filterbar__dropdown-black: #1a1a1a;
  --filterbar__dropdown-white: #ccc;
  --filterbar__dropdown-grey: #666;
}

.filterbar {
  padding: 1rem;
  background-color: var(--background-color);
  margin: 1rem;
  border: 1px solid var(--primary-color);
  grid-column: 1 / -1;
}

.filterbar__content {
  display: flex;
  align-items: center;
}

.filterbar__text {
  display: inline-block;
  margin-right: 10px;
  color: var(--primary-color);
  font-family: var(--primary-font);
  font-size: 1rem;
}

.filterbar__dropdown {
  width: 15rem;

  position: relative;

  background-color: var(--filterbar__dropdown-white);
}

.fb__list {
  position: absolute;

  list-style-type: none;

  margin: 0;

  padding-left: 0;

  width: 100%;

  background-color: var(--filterbar__dropdown-white);

  border-top: 0;
  border-bottom: 0;

  z-index: var(--zindex-three);
}

.fb__list__item {
  display: flex;
  flex-direction: column;

  border-bottom: 1px solid var(--filterbar__dropdown-grey);

  background-color: var(--filterbar__dropdown-white);
}

.filterbar__dropdown__btn--low,
.filterbar__dropdown__btn--high {
  display: block;

  text-decoration: none;

  color: var(--filterbar__dropdown-black);

  padding: 0.5rem 1rem;

  font-family: var(--primary-font);

  background-color: var(--filterbar__dropdown-white);
}

.filterbar__dropdown__btn {
  font-family: var(--primary-font);

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  cursor: pointer;

  background-color: var(--filterbar__dropdown-white);

  text-align: left;

  padding: 0;

  padding-left: 1rem;

  height: 2rem;
}

.filterbar__dropdown__downarrow {
  background-color: var(--filterbar__dropdown-grey);
  height: 100%;
  padding: 0.5rem;
}

@media screen and (min-width: 768px) {
  .filterbar__dropdown__btn--low:hover,
  .filterbar__dropdown__btn--high:hover {
    background-color: var(--filterbar__dropdown-grey);
    color: var(--primary-color);
  }
}
