@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}
:root {
  --primary-color: #fff;
  --secondary-color: #76b900;
  --border-color: #fff;

  --primary-font: Lato;

  --shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  --small-text: 0.8rem;
  --small-text-color: #878787;
  --zindex-one: 1;
  --zindex-two: 2;
  --zindex-three: 3;
}

/* utility */

.product-img {
  width: 100%;
  object-fit: contain;
  object-position: center;
  height: 20rem;
}

.distance-margin {
  margin: 2rem;
}

.wish-btn {
  display: inline-block;

  align-self: flex-end;

  width: fit-content;

  padding: 0;

  background-color: transparent;
  border: 0;
  outline: 0;

  position: absolute;
  right: 0rem;
  top: 0rem;

  z-index: var(--zindex-two);
  cursor: pointer;
}

.heart-svg:hover {
  stroke: var(--wish-svg-stroke);
}

.close-btn {
  display: inline-block;

  width: fit-content;

  padding: 0;

  background-color: transparent;
  border: 0;
  outline: 0;

  position: absolute;
  top: 0;
  left: 0;

  z-index: var(--zindex-three);

  cursor: pointer;
}

.svg-close:hover {
  stroke: var(--close-svg-stroke);
}

.primary-btn {
  background-color: var(--secondary-color);

  border: 0;

  padding: 0.6rem;

  font-family: var(--primary-font);
  font-weight: 900;

  border-radius: 0.1rem;

  outline-color: var(--secondary-color);

  cursor: pointer;

  color: var(--primary-color);

  text-decoration: none;

  text-align: center;
}

/* product card */
.product-container {
  display: inline-flex;
  flex-direction: column;

  max-width: 25rem;

  font-family: var(--primary-font);
  font-weight: bolder;

  position: relative;

  padding: 1rem;

  margin: 1rem;

  max-height: 45rem;

  width: 22rem;

  justify-self: center;
  align-self: center;
}

.product__img__container {
  display: block;
  position: relative;
}

.product-info__text {
  display: -webkit-box;

  overflow: hidden;

  -webkit-box-orient: vertical;

  -webkit-line-clamp: 2;

  margin-top: 1rem;
}

.product-info {
  text-decoration: none;

  color: var(--primary-color);
  font-size: 1.2rem;

  margin: 5px 0;
}

.product-info__img {
  max-height: 20rem;
  max-width: 20rem;
}

.product-info__small {
  display: block;

  font-size: var(--small-text);

  color: var(--small-text-color);

  font-weight: 500;

  width: 10rem;

  text-overflow: ellipsis;

  overflow: hidden;

  white-space: nowrap;
}

.product-info__rating {
  display: flex;
  justify-content: center;
  align-items: center;

  max-width: max-content;

  background-color: var(--rating-color);
  color: var(--secondary-color);

  font-size: var(--small-text);
  text-align: center;

  padding: 0.15rem 0.3rem;

  border-radius: 0.2rem;

  margin: 0.5rem;
  margin-left: 0;
}

.svg__rating {
  margin-right: 5px;
}

.price-tag {
  display: block;

  margin: 3px 0;
  margin-bottom: 1.5rem;

  font-size: 1.5rem;

  font-weight: 900;
}

.product-info__specifications {
  display: block;
  margin: 2rem 0;
}

.specifications__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.specifications__arrow {
  margin-right: 1rem;
}

.specifications__list__item {
  font-weight: 300;
  margin: 0.5rem 0;
}

/* product card with overlay */

.overlay-div {
  background: rgba(24, 26, 27, 0.5);

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 1rem;

  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;

  z-index: var(--zindex-two);
}

.overlay-text {
  position: absolute;

  height: fit-content;

  color: var(--primary-color);

  top: 8rem;
}

@media screen and (max-width: 320px) {
  .product-container {
    width: 19.5rem;
  }
}

@media screen and (min-width: 768px) {
  .primary-btn:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
  }
  .product-container:hover {
    border: 1px solid var(--primary-color);
  }
}
