:root {
  --small-text: 0.8rem;
  --small-text-color: #878787;
}

.distance-margin {
  margin: 2rem;
}

.wish-btn {
  display: inline-block;

  align-self: flex-end;

  width: fit-content;

  padding: 0;

  background-color: transparent;
  border: 0;

  position: absolute;
  right: 0rem;
  top: 0rem;

  z-index: var(--zindex-three);
  cursor: pointer;
}

.wishlist_icon {
  color: var(--secondary-color);
  font-size: 1.5rem;
}

.heart-svg:hover {
  stroke: var(--wish-svg-stroke);
}

.close-btn {
  display: inline-block;

  width: fit-content;

  padding: 0;

  background-color: transparent;
  border: 0;
  outline: 0;

  position: absolute;
  top: 0;
  left: 0;

  z-index: var(--zindex-three);

  cursor: pointer;
}

.svg-close:hover {
  stroke: var(--close-svg-stroke);
}

.primary-btn {
  background-color: var(--secondary-color);

  border: 0;

  padding: 0.6rem;

  font-family: var(--primary-font);
  font-weight: 700;

  border-radius: 0.1rem;

  outline-color: var(--secondary-color);

  cursor: pointer;

  color: var(--primary-color);

  text-decoration: none;

  text-align: center;
}

/* p-card card */
.pc--container {
  display: inline-flex;
  flex-direction: column;

  max-width: 25rem;

  font-family: var(--primary-font);
  font-weight: bolder;

  position: relative;

  padding: 1rem;

  margin: 1rem;

  max-height: 45rem;

  width: 22rem;

  justify-self: center;
  align-self: center;
}

.p-card__img--container {
  display: block;
  position: relative;
}

.p-card__title {
  display: -webkit-box;

  overflow: hidden;

  -webkit-box-orient: vertical;

  -webkit-line-clamp: 2;

  margin-top: 1rem;
}

.p-card {
  text-decoration: none;

  color: var(--primary-color);
  font-size: 1.2rem;

  margin: 5px 0;
}

.p-card__img {
  width: 100%;

  object-fit: contain;
  object-position: center;

  height: 20rem;

  max-height: 20rem;
  max-width: 20rem;
}

.p-card__small {
  display: block;

  font-size: var(--small-text);

  color: var(--small-text-color);

  font-weight: 500;

  width: 10rem;

  text-overflow: ellipsis;

  overflow: hidden;

  white-space: nowrap;
}

.p-card__rating {
  display: flex;
  justify-content: center;
  align-items: center;

  max-width: max-content;

  background-color: var(--rating-color);
  color: var(--secondary-color);

  font-size: var(--small-text);
  text-align: center;

  padding: 0.15rem 0.3rem;

  border-radius: 0.2rem;

  margin: 0.5rem;
  margin-left: 0;
}

.svg__rating {
  margin-right: 5px;
}

.price-tag {
  display: block;

  margin: 3px 0;
  margin-bottom: 1.5rem;

  font-size: 1.5rem;

  font-weight: 900;
}

.p-card__specifications {
  display: block;
  margin: 2rem 0;
}

.pc__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.specifications__arrow {
  margin-right: 1rem;
}

.pc__list__item {
  font-weight: 300;
  margin: 0.5rem 0;
}

/* p-card card with overlay */

.p-card__overlay {
  background: rgba(24, 26, 27, 0.5);

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 1rem;

  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;

  z-index: var(--zindex-two);
}

.p-card__overlay__text {
  position: absolute;

  height: fit-content;

  color: var(--primary-color);

  top: 8rem;
}

@media screen and (max-width: 320px) {
  .pc--container {
    width: 19.5rem;
  }
}

@media screen and (min-width: 768px) {
  .pc--container:hover {
    border: 1px solid var(--primary-color);
  }
}
