:root {
  --small-text: 0.8rem;
  --small-text-color: #878787;
}

.w-card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "img"
    "buy";
  color: var(--primary-color);
  font-family: var(--primary-font);
  border: 1px solid var(--primary-color);
  padding: 1.5rem 1rem;
  position: relative;
  text-decoration: none;
}

.w-card__remove {
  position: absolute;
  width: fit-content;
  top: 0rem;
  right: 0rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  margin: 0.5rem 0.5rem 0 0;
}

.wc__icon {
  color: var(--primary-color);

  font-size: 1.5rem;
}

.w-card__imgcontainer {
  display: flex;
  justify-content: center;
  max-width: 300px;
  max-height: 300px;
  grid-area: img;
  height: 150px;
}

.w-card__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.w-card__details {
  grid-area: buy;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 10rem;
}

.w-card__details__title {
  display: block;

  font-weight: 900;
  font-size: 1rem;

  margin: 1rem 0;
}

.wishlist__add-pd {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--secondary-color);
  color: var(--primary-color);

  font-family: var(--primary-font);
  font-weight: 900;

  border: 0;

  width: 100%;
  height: 1.7rem;

  margin: 1rem 0;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .w-card {
    grid-template-areas: "img buy";
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
  }

  .w-card__details {
    margin: 0 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .w-card {
    grid-template-columns: 1fr;
  }

  .w-card__details__price {
    font-size: 1.2rem;
  }
}
