@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
:root {
  --primary-color: #fff;
  --secondary-color: #76b900;
  --background-color: #000;

  --primary-font: Lato;

  --reset-black: #1a1a1a;
  --dropdown-white: #ccc;

  --border-grey: #666;
  --reset-color: #bdbdbd;

  --zindex-one: 1;
  --zindex-two: 2;
  --zindex-three: 3;
  --zindex-four: 4;
}

* {
  box-sizing: border-box;
}

.App {
  zoom: normal;
  /* display: grid; */
  /* grid-template-columns: 20% auto; */
  /* grid-template-rows: auto; */
  /* grid-template-areas: */
  /* 'header header' */
  /* 'sidebar main'; */
  background-color: var(--background-color);
  padding: 0rem;
  min-height: 100vh;
}

.close_icon {
  color: var(--primary-color);

  font-size: 1.5rem;
}
