.product-list {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
}

@media screen and (min-width: 576px) {
  .product-list {
    grid-template-columns: repeat(auto-fit, 25rem);
    gap: 1rem;
  }
}
