@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
  --primary-color: #fff;
  --secondary-color: #76b900;
  --background-color: #000;

  --primary-font: Lato;

  --reset-black: #1a1a1a;
  --dropdown-white: #ccc;

  --border-grey: #666;
  --reset-color: #bdbdbd;

  --zindex-one: 1;
  --zindex-two: 2;
  --zindex-three: 3;
  --zindex-four: 4;
}

.wishlist {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1026px;
  margin: 0 auto;
  font-family: var(--primary-font);
}

.wishlist__empty {
  display: flex;
  flex-direction: column;
  color: var(--primary-color);
  align-items: center;
  border: 1px solid var(--primary-color);
  padding: 1rem;
}

.wishlist__empty__imgcontainer {
  max-width: 300px;
  max-height: 300px;
}

.wishlist__empty__text {
  margin: 0;
  margin: 1rem 0;
}

.wishlist__empty__shopbtn {
  margin: 1rem 0;
  border: 0;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 1rem;
  font-weight: 900;
}

@media screen and (min-width: 1024px) {
  .wishlist {
    grid-template-columns: 1fr;
  }
}
