.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  margin: 1rem 0 4rem 0;

  padding-bottom: 5rem;

  background-color: var(--background-color);

  overflow-y: auto;

  height: 100vh;

  z-index: var(--zindex-five);

  font-size: 1rem;
}

.sidebar__content {
  position: relative;

  display: flex;
  flex-direction: column;

  font-family: var(--primary-font);
}

.sidebar__content__close {
  position: absolute;
  top: 0;
  right: 0;

  width: fit-content;

  background-color: transparent;

  border: 0;

  margin: 0.5em 0.5rem 0 0;
}

.sidebar__content__product-category {
  padding: 1.5em;
}

.sidebar__content__product-category__list {
  margin: 0;

  padding: 0;

  list-style-type: none;
}

.sidebar__content__product-category__list__item {
  display: flex;
  align-items: center;

  margin-top: 0.5em;
}

.sidebar__content__product-category__title {
  margin: 0;
  margin-bottom: 1em;

  color: var(--primary-color);

  border-bottom: 1px solid var(--border-grey);

  font-size: 1em;
}

.sidebar__content__product-category__title__text {
  display: block;
  margin-bottom: 1em;
}

.sidebar__content__reset {
  background-color: var(--reset-color);
  color: var(--background-color);

  padding: 1rem;
  border: 0;

  font-weight: 600;
  font-size: 0.7em;

  position: fixed;
  bottom: 0;

  width: 100vw;
  cursor: pointer;
}

.checkbox__text {
  color: var(--primary-color);

  font-size: 1em;
  margin-left: 0.5em;

  font-family: var(--primary-font);
  font-weight: 400;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;

  height: 1.5em;
  width: 1.5em;

  background-color: var(--background-color);
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 2px solid var(--primary-color);
  border-radius: 0.1rem;
}

input[type="checkbox"]:after {
  content: url("../../assets/svgs/check.svg");
  display: none;
}

input[type="checkbox"]:checked {
  background-color: var(--secondary-color);

  border-color: var(--secondary-color);
}

input[type="checkbox"]:checked:after {
  display: block;
}

@media screen and (min-width: 768px) and (max-width: 1025px) {
  .sidebar__content {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .sidebar__content__product-category {
    width: 25rem;
  }
}

@media screen and (min-width: 1025px) {
  .sidebar {
    grid-area: sidebar;

    position: sticky;

    top: 7rem;

    border-right: 2px solid var(--border-grey);

    padding: 0 1em 0 1em;

    visibility: visible !important;

    z-index: 4;
  }

  .sidebar__content__product-category {
    padding: 0.7em;
  }

  .sidebar__content__reset {
    position: relative;

    width: fit-content;

    background-color: var(--reset-black);
    color: var(--primary-color);

    margin: 0 1em 1em 1em;
  }

  .sidebar__content__close {
    display: none;
  }
}
